
body {
	height: 100vh;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 134px auto;
}


.icon {
	height: 18px;
	width: 18px;
}

.main-icon {
	height: 40px;
	width: 40px;
}


/*Styles for the sidebar*/

.sidebar {
	padding-left: 20px;
	background-color: rgb(22, 143, 212);
	grid-row: 1/ span 2;
	display: grid;
	grid-template-rows: 81px 204px 234px auto;
}

.sidebar > div:nth-child(-n + 2) {
	display: grid;
	grid-template-columns: 30% auto;
	grid-auto-rows: 1fr;
	font-weight: 600;
	color: aliceblue;
	align-items: center;
}

.sidebar > div:nth-child(3) {
	display: grid;
	grid-template-columns: 30% auto;
	grid-template-rows: repeat(3, 32px);
	row-gap: 5px;
	align-content: center;
	font-weight: 600;
	color: aliceblue;
	align-items: center;
}

.sidebar > div:nth-child(2){
	margin-top: 40px;
}
 
.sidebar > div:first-child {
	font-size: 20px;
}

/*Styles for header*/

.header {
	background-color: chartreuse;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
}


.header > div:first-child{
	display: flex;
	margin-left: 40px;
	margin-right: 100px;
}

.header > div:first-child > input {
	flex: 1;
	margin-left: 15px;
	border-radius: 10px;
	border-style: none;
	background-color: rgb(231, 217, 217);
}

.header > div:nth-child(2) {
	display: grid;
	grid-template-columns: repeat(3, auto);
	align-items: center;
	justify-content: center;
}

.header > div:nth-child(2) > img:nth-child(2) {
	margin-left: 25px;
	margin-right: 25px;
}

.header > div:nth-child(3) {
	display: grid;
	grid-template-columns: 17% auto;
	align-items: center;
}

.header > div:nth-child(3) > div > p {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
}

.header > div:nth-child(3) > img {
	justify-self: end;
	margin-right: 20px;
}

.header > div:last-child {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header > div:last-child > button {
	border-radius: 15px;
	border-style: none;
	padding: 8px 16px;
	background-color: rgb(3, 97, 219);
	color: white;
	font-weight: 600;
}

/*Styles for the main content*/

.main-content {
	background-color: rgb(16, 219, 83);
	display: grid;
	grid-template-columns: auto 300px;
}

.projects {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: 45px;
	grid-auto-rows: 180px;
}

.projects > p {
	grid-column: 1 / -1;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 400;
}

.projects > div {
	background-color: aliceblue;
	border-left: 7px solid rgb(248, 193, 11);
	border-radius: 6px;
	display: grid;
	grid-template-rows: 50px auto 50px;
	text-align: left;
	padding: 0 15px;
	font-size: 12px;
	color: rgb(116, 114, 114);
}

.project-items > p:first-child {
	align-self: end;
	color: black;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 0;
}

.project-items > p:nth-child(2) {
	margin-top: 0;
}

.project-items > div {
	display: grid;
	grid-template-columns: repeat(3, 30px);	
	align-items: center;
	justify-content: end;
}

.announcements {
	padding-top: 10px;
	background-color: blueviolet;
	display: grid;
	grid-template-rows: repeat(2, 45px 240px);
	row-gap: 20px;
	padding-right: 35px;
}

.announcements > p {
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 400;
}

.announcements > div {
	border-radius: 6px;
	background-color: aliceblue;
}
