
body {
	height: 100vh;
	margin: 0;
}

.container {
	height: 100%;
  display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 4fr;
}

.sidebar {
	background-color: aquamarine;
	grid-row: 1/ span 2;
	
	display: grid;
	grid-template-rows: 12% 35% 35% auto;
}

.sidebar > div {
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-rows: 1fr;
}

.header {
	background-color: chartreuse;
}

.main-content {
	background-color: darksalmon;
}